<div class="ia-container">

  <figure>
    <a href="galery.html"><img src="../images/photos/<%= data.carousel.image1 %>" alt="image01" title="Fashion creation"/></a>
    <input type="radio" name="radio-set" checked="checked"/>
    <i class="fa fa-chevron-left fa-2x navigation hidden" aria-hidden="true"></i>
    <i class="fa fa-chevron-right fa-2x navigation hidden" aria-hidden="true"></i>
     <!--<figcaption><span>Présentation photo n 1</span></figcaption>-->

    <figure class="disabled">
      <a href="galery.html"><img src="../images/photos/<%= data.carousel.image2 %>" alt="image02"  title="different fashion"/></a>
      <input type="radio" name="radio-set" />
      <i class="fa fa-chevron-left fa-2x navigation hidden" aria-hidden="true"></i>
      <i class="fa fa-chevron-right fa-2x navigation " aria-hidden="true"></i>
      <!--<figcaption><span>Présentation photo n 2</span></figcaption>-->

      <figure class="disabled">
        <a href="galery.html"><img src="../images/photos/<%= data.carousel.image3 %>" alt="image03"  title="tee-shirt"/></a>
        <input type="radio" name="radio-set" />
        <i class="fa fa-chevron-left fa-2x navigation hidden" aria-hidden="true"></i>
        <i class="fa fa-chevron-right fa-2x navigation hidden" aria-hidden="true"></i>
        <!--<figcaption><span>Présentation photo n 3</span></figcaption>-->

        <figure class="disabled">
          <a href="galery.html"><img src="../images/photos/<%= data.carousel.image4 %>" alt="image04"  title="lgbt model"/></a>
          <input type="radio" name="radio-set" />
          <i class="fa fa-chevron-left fa-2x navigation hidden" aria-hidden="true"></i>
          <i class="fa fa-chevron-right fa-2x navigation hidden" aria-hidden="true"></i>
          <!--<figcaption><span>Présentation photo n 4</span></figcaption>-->

          <figure class="disabled">
            <a href="galery.html"><img src="../images/photos/<%= data.carousel.image5 %>" alt="image05"  title="classy x collection couture"/></a>
            <input type="radio" name="radio-set" />
            <i class="fa fa-chevron-left fa-2x navigation hidden" aria-hidden="true"></i>
            <i class="fa fa-chevron-right fa-2x navigation hidden" aria-hidden="true"></i>
            <!--<figcaption><span>Présentation photo n 5</span></figcaption>-->


            <figure class="disabled">
              <a href="galery.html"><img src="../images/photos/<%= data.carousel.image6 %>" alt="image06"  title="classy x collection couture"/></a>
              <input type="radio" name="radio-set" />
              <i class="fa fa-chevron-left fa-2x navigation hidden" aria-hidden="true"></i>
              <i class="fa fa-chevron-right fa-2x navigation hidden" aria-hidden="true"></i>
              <!--<figcaption><span>Présentation photo n 6</span></figcaption>-->

              <figure class="disabled">
                <a href="galery.html"><img src="../images/photos/<%= data.carousel.image7 %>" alt="image07"  title="classy x collection couture"/></a>
                <input type="radio" name="radio-set" />
                <i class="fa fa-chevron-left fa-2x navigation hidden" aria-hidden="true"></i>
                <i class="fa fa-chevron-right fa-2x navigation hidden" aria-hidden="true"></i>
                <!--<figcaption><span>Présentation photo n 7</span></figcaption>-->

                <figure class="disabled">
                  <a href="galery.html"><img src="../images/photos/<%= data.carousel.image8 %>" alt="image08"  title="classy x collection couture"/></a>
                  <input type="radio" name="radio-set" />
                  <i class="fa fa-chevron-left fa-2x navigation hidden" aria-hidden="true"></i>
                  <i class="fa fa-chevron-right fa-2x navigation hidden" aria-hidden="true"></i>
                  <!--<figcaption><span>Présentation photo n 8</span></figcaption>-->

                </figure>

              </figure>

            </figure>


          </figure>

        </figure>

      </figure>

    </figure>

  </figure>

</div>

<div id="description">
  <p><%= t("description.p1.line1") %><br/>
     <%= t("description.p1.line2") %>
  </p>

  <cite>"<%= t("description.cite1.line1") %><br/>
         <%= t("description.cite1.line2") %><br/>
         <%= t("description.cite1.line3") %>"

  </cite>
  <p><%= t("description.p2.line1") %></p>


  <cite>"<%= t("description.cite2.line1") %>"</cite>

  <div id="video">
    <iframe src="https://www.youtube.com/embed/u9lD5CMmaKU?rel=0&controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

  <p><%= t("description.p3.line1") %></p>

  <p>
     <%= t("description.p4.line1") %><br/>
     <%= t("description.p4.line3") %><br/>
     <%= t("description.p4.line4") %></p>

  <div class="center">
    <a href="galery.html" class="button"><%= t(:button_galery) %></a>
    <a href="support.html" class="button"><%= t(:button_support) %></a>
    <a href="presse.html" class="button"><%= t(:button_presse) %></a>

    <br/><br/><br/>

    <div>
      <div class="brut_image" id="img_description_2" style="display: inline-block;">
        <img src="../images/photos/description_2.jpg" width="800"
            class="center"/>
        <p class="p1"><%= t(:brut_p1) %></p>
        <p class="p2"><%= t(:brut_p2) %></p>
        <p class="p3"><%= t(:brut_p3) %></p>
      </div>
    </div>

    <br/><br/>

    <a href="galery.html">
      <img src="../images/photos/description_1.jpg" width="800" id="img_description"
            title="backstage" alt="backstage" class="center"/>
    </a>

  </div>
</div>

<script>
  window.setInterval(function() {
    if(isScrolledIntoView(document.getElementById('img_description_2'))) {
      $('#img_description_2').addClass("animated");
    }
  }, 250);

</script>
