---
  title: products.title
---

<div id="description" class="products">

  <%= breadcrumb(t("products.title")) %>

  <h1><%= t("products.title") %></h1>

  <div class="sub_part">
    <h2><%= t("galeries.iconic") %></h2>
    <p class="iconic_description">
      <%= t("galeries.iconic_description") %>
    </p>

    <a href="galery_queen.html"><img src="http://lorempixel.com/400/180/fashion/" width="400" height="180" /></a>
    <div class="text">
      <h3><%= t("galeries.queen.title") %></h3>
      <%= t("galeries.queen.description") %>
    </div>

     <a href="galery_t_bien_roule.html"><img src="http://lorempixel.com/400/180/fashion/" width="400" height="180"/></a>
     <div class="text">
       <h3><%= t("galeries.t_bien_roule.title") %></h3>
       <%= t("galeries.t_bien_roule.description") %>
     </div>

     <a href="galery_jeans.html"><img src="http://lorempixel.com/400/180/fashion/" width="400" height="180"/></a>
     <div class="text">
       <h3><%= t("galeries.jeans.title") %></h3>
       <%= t("galeries.jeans.description") %>
     </div>
  </div>

  <div class="sub_part">
    <h2><%= t("galeries.other.title") %></h2>
     <a href="galery_other.html"><img src="http://lorempixel.com/400/180/fashion/" width="400" height="180"/></a>
     <div class="text">
       <%= t("galeries.other.description") %>
     </div>
  </div>
</div>
